/* NOSOTROS */
/* 972PX */

@media (max-width: 972px){
    .sections{
        flex-direction: column;
    }

}
 /* FIN 972PX */
 /* 478PX */
 @media (max-width: 478px){
    .section__art{
        width: auto;
        height: auto;
        padding: 1px;
        text-align: center;
       
     }
    
 }
 /* FIN NOSOTROS */  