@import "./variables";

.header{
    background: rgb(2,0,36);
    background: $degrade;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    &__img{
        width: 10rem;
    }
    &__titulo{
        font-size: 4rem;
        padding-left: 20rem;
        color: orangered;
       align-self: center;
    }
}
.nav__btn{
    @include flexbox (end, center);     
    font-size: 20px;
}
.nav__li{
    list-style: none;
 }
 .nav__a{
    color: orangered;
    text-decoration: none;
    display: flex;
    margin: 15px;
    border-radius: .5rem;
   
   }