.sections{
    @include flexbox (space-between, center)
    
}
.section__art{
    @include width-heigth(30rem, 38rem);
    margin: 10px;
    padding: 10px;
    text-align: center;
   
 }
 .textos{
    text-align: justify;
    font-weight:200  ;
    font-size: 22px;
}
.titulos{
    margin: 1rem;
    color: coral;
}